<div id="comment-<%= comment.id %>"> 
<%= time_ago_in_words(comment.created_at) %> ago.... <br> 
<%=link_to comment.user.username, comment.user %> <br>
<%= comment.body %>
<% if current_user == comment.user || current_user = @post.user %>
    <%= link_to " ", post_comment_path(@post, comment), method: :delete, remote: true, class: 'fas fa-times', style: 'float: right' %>
<% end %>
    <hr>
</div> 